<nav class="navbar navbar-default navbar-static-top text-center">
  <div class="container">
    <div class="navbar-header">
      <strong class="navbar-brand">My Pomodoro Timer</strong>
    </div>
  </div>
</nav>

<div class="container text-center">
  <app-pomodoro-timer [seconds]="5" (complete)="onComplete()" #counter></app-pomodoro-timer>
  <p><button type="button" (click)="counter.seconds = 25">Reset</button></p>
  <p *ngIf="counter.seconds <= 3">Beware! Only <strong>{{counter.seconds}} seconds</strong> left</p>
</div>
